<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';

const props = defineProps({
    'order': Object,
    'text': String,
})

const form = useForm({
    payment_code: '',
    order_id: props.order.id,
});

const submit = () => {
    form.post(route('order.payment'));
};
const cancel = () => {
    form.delete(route('order.destroy', props.order.id));
};

</script>

<template>
    <Head title="Оплата Litecoin" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-auto">
            <div class="container px-5 py-24 mx-auto">
                <div class="mx-auto flex flex-wrap">
                    <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                
                        <div v-html="text" />

                        <button @click.prevent="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Оплачено</button>
                        <button @click.prevent="cancel" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded m-2">Отменить</button>

                    </div>
                </div>
            </div>
        </section>
    </AuthenticatedLayout>
</template>
