<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';
import {Inertia} from "@inertiajs/inertia";

const props = defineProps({
    'order': Object,
    'text': String,
})

const form = useForm({
    payment_code: '',
    order_id: props.order.id,
});

const submit = () => {
    form.post(route('order.payment'));
};
const cancel = () => {
    form.delete(route('order.destroy', props.order.id));
};

</script>

<template>
    <Head title="Оплата GLOBAL24" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-auto">
            <div class="container px-5 py-24 mx-auto">
                <div class="mx-auto flex flex-wrap">
                    <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                
                        <div v-html="text" />

                        <div class="w-full mt-5">
                            <label for="payment_code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Для пополнения счета введите код с чека.</label>
                            <input v-model="form.payment_code" type="text" id="payment_code" min="1" max="63" placeholder="" required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-64 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>

                        <button @click.prevent="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Оплатить</button>
                        <button @click.prevent="cancel" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded m-2">Отменить</button>

                    </div>
                </div>
            </div>
        </section>
    </AuthenticatedLayout>
</template>
