<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';

const props = defineProps({
    'paymentSystems': Array,
    'url': String,
})

const form = useForm({
    sum: null,
    payment_system_key: null,
    payment_system_id: null,
    url: props.url,
});

const submit = () => {
    form.post(route('balance.store'), {
        onSuccess: (order) => {
            console.log(order)
        }
    });
};
</script>

<template>
    <Head :title="__('Deposit balance')" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                      <h2 class="text-2xl font-bold tracking-tight text-gray-900">{{__('Deposit balance')}}</h2>
                      <br>

                      <div class="w-full mt-5">
                          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">{{__('Payment system')}}</label>
                          <select v-model="form.payment_system_key" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                              <option selected disabled>{{__('Select payment system')}}</option>
                              <option v-for="paymentSystem in paymentSystems" :key="paymentSystem.id" :value="paymentSystem.key">{{ paymentSystem.buttonTitle }}</option>
                          </select>
                      </div>
                      <br>

                      <button @click="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                          {{__('Deposit')}}
                      </button>

                  </div>
              </div>
          </div>
      </section>
    </AuthenticatedLayout>
</template>
