<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';

const props = defineProps({
    'orders': Array,
})

</script>

<template>
    <Head :title="__('Orders')" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-auto">
            <div class="container px-5 py-24 mx-auto">
                <div class="lg:w-4/5 mx-auto flex">
                    <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                        <h2 class="text-2xl font-bold tracking-tight text-gray-900">{{__('Orders')}}</h2>
                        <br>

                        <table class="min-w-full w-full">
                          <thead class="bg-white border-b hover:table-fixed">
                            <tr>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">{{__('Type')}}</th>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">{{__('Status')}}</th>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">{{__('Price')}}</th>
                              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">{{__('Created')}}</th>
                              <!-- <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Item</th> -->
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="order in orders" class="bg-gray-100 border-b hover:bg-gray-200">
                              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-blue-500 text-bold"><a :href="route('order.show', order.id)">{{order.id}}</a></td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.type}}</td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.statusTitle}}</td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.payment_request.price}} {{order.payment_request.currency}}</td>
                              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.created_at}}</td>
                              <!-- <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><span v-if="order.item">{{order.item.price}}</span></td> -->
                            </tr>
                          </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </section>
    </AuthenticatedLayout>
</template>
