<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';

const props = defineProps({
    'product': Object,
    'paymentSystems': Array,
    'url': String,
})

console.log(route('dashboard'))

const form = useForm({
    product_id: props.product.id,
    url: props.url,
    payment_system_key: null,
    payment_system_id: null,
});

const submit = () => {
    form.post(route('order.store'), {
        onSuccess: (order) => {
            console.log(order)
        }
    });
};
</script>

<template>
    <Head :title="__('Item')" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="lg:w-4/5 mx-auto flex flex-wrap">
                    <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                        <h2 class="text-sm title-font text-gray-500 tracking-widest">{{ product.category }}</h2>
                        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">{{ product.sort }}</h1>
                        <div class="flex mb-4">
                            <a class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">{{__('Description')}}</a>
                            <!-- <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Отзывы</a> -->
                            <!-- <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Details</a> -->
                        </div>
                        <p class="leading-relaxed mb-4">{{ product.sort_description }}</p>
                        <div class="flex border-t border-gray-200 py-2">
                            <span class="text-gray-500">{{__('City')}}</span>
                            <span class="ml-auto text-gray-900">{{ product.city }}</span>
                        </div>
                        <div class="flex border-t border-gray-200 py-2">
                            <span class="text-gray-500">{{__('Area')}}</span>
                            <span class="ml-auto text-gray-900">{{ product.area }}</span>
                        </div>
                        <div class="flex border-t border-b mb-6 border-gray-200 py-2">
                            <span class="text-gray-500">{{__('Packing')}}</span>
                            <span class="ml-auto text-gray-900">{{ product.packing }} {{ product.unit }}</span>
                        </div>

                        <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">{{__('Payment system')}}</label>
                        <select v-model="form.payment_system_key" id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option selected disabled>{{__('Select payment system')}}</option>
                            <option v-for="paymentSystem in paymentSystems" :key="paymentSystem.id" :value="paymentSystem.key">{{ paymentSystem.buttonTitle }}</option>
                        </select>
                        <br>

                        <div class="flex">
                            <span class="title-font font-medium text-2xl text-gray-900">{{ product.price }} {{ product.currency }}</span>
                            <button @click="submit" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">
                                {{__('Buy')}}
                            </button>
                            <!-- <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                              </svg>
                            </button> -->
                        </div>
                    </div>
                    <img alt="photo" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" :src="product.img">
                </div>
            </div>
        </section>
    </AuthenticatedLayout>
</template>
