<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';
import {Inertia} from "@inertiajs/inertia";

const props = defineProps({
    'data': Object,
})

</script>

<template>
    <Head title="Заказ" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">

                <p><b>Координаты</b>: <a :href="'http://maps.google.com/?q='+props.data.item.coordinates">{{props.data.item.coordinates}}</a></p>
                <p><b>Описание</b>: {{props.data.item.description}}</p>

            </div>
        </section>
    </AuthenticatedLayout>
</template>
