<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import { Head } from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import FilterItems from '@/Components/FilterItems.vue';

defineProps({
    'products': Object,
    'filters': Object,
})
</script>

<template>
    <Head :title="__('Items')" />
    <AuthenticatedLayout>

      <section aria-labelledby="products-heading" class="pt-6 pb-24">
        <!-- <h2 class="text-2xl font-bold tracking-tight text-gray-900 text-center">Товары</h2> -->
        <h2 id="products-heading" class="sr-only">{{__('Items')}}</h2>

        <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
            <!-- Filters -->
            <FilterItems :filters="filters" />


          <!-- Product grid -->
          <div class="lg:col-span-3">
            <!-- Replace with your content -->
            <div class="h-96 rounded-lg lg:h-full">

                <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
                    <div v-for="product in products" :key="product.id" class="group relative">
                        <p class="text-center">{{ product.sort.category.name }}</p>
                        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
                            <img :src="product.sort.img" alt="photo" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <NavLink :href="route('item.show', product.id)">
                                    <!-- <NavLink :href="route('shop.show', {city_id: product.city_id, packing_id: product.packing_id, area_id: product.area_id})"> -->
                                        <span aria-hidden="true" class="absolute inset-0" />
                                        {{ product.sort.name }} {{ product.packing.packing }} {{ product.packing.unit }}
                                    </NavLink>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{ product.city.name }} / {{ product.area.name }}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">{{ product.packing.price }} {{ product.packing.currency }}</p>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /End replace -->
          </div>
        </div>
      </section>



<!--         <div class="">
            <div class="py-16 sm:py-24">
                <h2 class="text-2xl font-bold tracking-tight text-gray-900">Товары</h2> -->


<!--                 <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div v-for="product in products" :key="product.id" class="group relative">
                        <p class="text-center">{{ product.sort.category.name }}</p>
                        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
                            <img :src="product.sort.img" alt="photo" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <NavLink :href="'/shop/'+product.id">
                                        <span aria-hidden="true" class="absolute inset-0" />
                                        {{ product.sort.name }} {{ product.packing.packing }} {{ product.packing.unit }}
                                    </NavLink>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{ product.city.name }} / {{ product.area.name }}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">{{ product.packing.price }} {{ product.packing.currency }}</p>
                        </div>
                    </div>
                </div> -->

<!--                 <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                    <div v-for="product in products" :key="product.id" class="group relative">
                        <p class="text-center">{{ product.category }}</p>
                        <div class="min-h-80 aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-75 lg:aspect-none lg:h-80">
                            <img :src="product.img" alt="photo" class="h-full w-full object-cover object-center lg:h-full lg:w-full" />
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <NavLink :href="'/shop/'+product.id">
                                        <span aria-hidden="true" class="absolute inset-0" />
                                        {{ product.sort }} {{ product.packing }} {{ product.unit }}
                                    </NavLink>
                                </h3>
                                <p class="mt-1 text-sm text-gray-500">{{ product.city }} / {{ product.area }}</p>
                            </div>
                            <p class="text-sm font-medium text-gray-900">{{ product.price }} {{ product.currency }}</p>
                        </div>
                    </div>
                </div> -->

<!--             </div>
        </div> -->
    </AuthenticatedLayout>
</template>
