<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, useForm} from '@inertiajs/inertia-vue3';
import NavLink from '@/Components/NavLink.vue';
import Spinner from '@/Components/Spinner.vue';
import {Inertia} from "@inertiajs/inertia";

const props = defineProps({
    'order': Object,
    'text': String,
    'intervalPageReload': {
        type: Number,
        default: 30,
    }
})

let order = props.order

const cancel = () => {
    clearInterval(timerId);
    Inertia.delete(route('order.destroy', props.order.id));
};

let paymentUpdate = () => {
    Inertia.get(route('order.show', props.order.id), {},
        {
          preserveState: true,
          preserveScroll: true,
          replace: true,
          onSuccess: (result) => {
            order = result.props.order
            // console.log(result.props)
            if(result.props.order.status === 'payment_complete')
                clearInterval(timerId);
          },
          onError: (error) => {
            console.log('ERROR');
            console.log(error);
          },
        }
    )
}

let timerId = setInterval(paymentUpdate, props.intervalPageReload*1000);

</script>

<template>
    <Head :title="__('Wait payment check')" />
    <AuthenticatedLayout>
        <section class="text-gray-600 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">

                <div v-html="text" />
                <br>
                <p><small>Страничка обновляется каждые: {{intervalPageReload}} сек.</small></p>

                <button @click.prevent="cancel" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded m-2">{{__('Delete order')}}</button>

            </div>
        </section>
    </AuthenticatedLayout>
</template>
