<script setup>
import { ref, computed, watch } from 'vue'
import {usePage} from "@inertiajs/inertia-vue3";
import {Inertia} from "@inertiajs/inertia";


defineProps({
    'filters': Object,
})

// watch({
//   form(newVal, oldVal) {
//     console.log('confirm', newVal, oldVal, route().current())
//   }
// })

// computed({
//   form: {
//     get: () => usePage().props.value.ziggy.query,
//     set: (value) => {
//       console.log('computed', value, route().current())
//       confirm()
//     },
//   }
// });

// const emit = defineEmits(["update:modelValue", "cancel", "confirm"]);

// const value = computed({
//   get: () => props.modelValue,
//   set: (value) => emit("update:modelValue", value),
// });


// let filter = ref()
let form = ref({...usePage().props.value.ziggy.query})
let processing = ref(false);

// const cancel = () => {
//   // emit("update:modelValue", false)
// }

const confirm = () => {
  processing.value = true;
  // console.log('confirm', form.value, route().current())
  if(form.value.page)
    form.value.page = 1
  Inertia.get(route(route().current()), form.value, {
      // preserveState: true,
      preserveScroll: true,
      // replace: true,
      onFinish: (result) => {
        // console.log(result)
        processing.value = false
      },
    }
  );
}

const clear = () => {
  form.value = {}
  confirm()
}

</script>

<template>

<form class="lg:block" @change="confirm">

<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <span class="font-medium text-gray-900 pl-2 flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400">{{__('City')}}</span>
  </h3>
  <div class="pt-6" id="filter-section-0">
    <div class="space-y-4">
      <div class="flex items-center" v-for="city in filters.cities">
        <input v-model="form.city_id" :id="'city_id-'+city.id" :value="city.id" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label :for="'city_id-'+city.id" class="ml-3 text-sm text-gray-600">{{city.name}}</label>
      </div>
    </div>
  </div>
</div>

<!-- <div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <span class="font-medium text-gray-900 pl-2 flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400">Сорт</span>
  </h3>
  <div class="pt-6" id="filter-section-0">
    <div class="space-y-4">
      <div class="flex items-center" v-for="sort in filters.sorts">
        <input v-model="form.sort_id" :id="'sort_id-'+sort.id" :value="sort.id" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label :for="'sort_id-'+sort.id" class="ml-3 text-sm text-gray-600">{{sort.category}} / {{sort.sort}} / {{sort.packing}} {{sort.unit}}</label>
      </div>
    </div>
  </div>
</div> -->

<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <span class="font-medium text-gray-900 pl-2 flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400">{{__('Sort')}} / {{__('Packing')}}</span>
  </h3>
  <div class="pt-6" id="filter-section-0">
    <div class="space-y-4">
      <div class="flex items-center" v-for="packing in filters.packings">
        <input v-model="form.packing_id" :id="'packing_id-'+packing.id" :value="packing.id" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label :for="'packing_id-'+packing.id" class="ml-3 text-sm text-gray-600">{{packing.category}} / {{packing.sort}} / {{packing.packing}} {{packing.unit}}</label>
      </div>
    </div>
  </div>
</div>

<div class="border-b border-gray-200 py-6">
  <h3 class="-my-3 flow-root">
    <span class="font-medium text-gray-900 pl-2 flex w-full items-center justify-between bg-white py-3 text-sm text-gray-400">{{__('Area')}}</span>
  </h3>
  <div class="pt-6" id="filter-section-0">
    <div class="space-y-4">
      <div class="flex items-center" v-for="area in filters.areas">
        <input v-model="form.area_id" :id="'area_id-'+area.id" :value="area.id" type="radio" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
        <label :for="'area_id-'+area.id" class="ml-3 text-sm text-gray-600">{{area.name}}</label>
      </div>
    </div>
  </div>
</div>

<button v-if="Object.keys(form).length > 0" @click.prevent="clear" class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded mt-4">{{__('Clear filter')}}</button>

</form>

</template>
