<script setup>
import { usePage } from '@inertiajs/inertia-vue3';
import { useToast } from "vue-toastification";
import { ref, watch, computed } from 'vue';

const toast = useToast()

watch(() => usePage().props.value.flash, flash => {

    let toastId = null;

    if (flash.message) {
        toastId = toast.info(flash.message)
    }
    if (flash.warning) {
        toastId = toast.info(flash.warning)
    }
    if (flash.success) {
        toastId =toast.success(flash.success)
    }
    if (flash.error) {
        toastId = toast.error(flash.error)
    }

    if (toastId !== null) {
        // setTimeout(() => toast.dismiss(toastId), 500)
    }

})
</script>

<template>
    <span><slot /></span>
</template>
