<script setup>
import Checkbox from '@/Components/Checkbox.vue';
import GuestLayout from '@/Layouts/GuestLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Head, Link, useForm } from '@inertiajs/inertia-vue3';

const props = defineProps({
    canResetPassword: Boolean,
    status: String,
    captcha: String,
});

const form = useForm({
    login: '',
    password: '',
    captcha_key: '',
    captcha: '',
    remember: false
});

const submit = () => {
    form.captcha_key = props.captcha.key
    form.post(route('login.store'), {
        onFinish: () => form.reset(['password', 'captcha']),
    });
};
</script>

<template>
    <GuestLayout>
        <Head :title="__('Log In')" />

        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
            {{ status }}
        </div>

        <form @submit.prevent="submit">
            <div>
                <InputLabel for="login" :value="__('Login')" />
                <TextInput id="login" type="text" class="mt-1 block w-full" v-model="form.login" required autofocus autocomplete="username" />
                <InputError class="mt-2" :message="form.errors.login" />
            </div>

            <div class="mt-4">
                <InputLabel for="password" :value="__('Password')" />
                <TextInput id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="current-password" />
                <InputError class="mt-2" :message="form.errors.password" />
            </div>

            <div class="md:flex md:items-center mb-6 mt-4">
                <div class="md:w-1/2">
                    <label class="block mb-1 md:mb-0" for="captcha">
                      <img :src="captcha.img" alt="captcha" class="border-radius-4">
                    </label>
                </div>
                <div class="md:w-1/2">
                    <TextInput v-model="form.captcha" required class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="captcha" />
                </div>
            </div>
            <div class="md:w-full">
                <InputError class="" :message="form.errors.captcha" />
            </div>

            <div class="block mt-4">
                <label class="flex items-center">
                    <Checkbox name="remember" v-model:checked="form.remember" />
                    <span class="ml-2 text-sm text-gray-600">{{__('Remember me')}}</span>
                </label>
            </div>

            <div class="flex items-center justify-end mt-4">
<!--                 <Link v-if="canResetPassword" :href="route('password.request')" class="underline text-sm text-gray-600 hover:text-gray-900">
                    Forgot your password?
                </Link> -->

                <Link :href="route('register')" class="ml-4">
                    {{__('Register')}}
                </Link>

                <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                    {{__('Log In')}}
                </PrimaryButton>
            </div>
        </form>
    </GuestLayout>
</template>
